<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Add Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
</div>

<div class="container" id="btnactivity">
        <section name="form">
                <h2 align="center">Add Schedule</h2>
                <br>
                <form id="form" method="POST" action="{% url 'add_schedule' %}">
                    {% csrf_token %}
                    {{ schedule_form }}
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </section>
            
</div>


<div class="page-footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
</div>
</body>
</html>
