<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
</div>
<div class="diatas">
    <div class="container-fluid">
        <h2>Terima kasih telah mendaftar di website kami!</h2>
        <a href="{% url 'home' %}" class="backhome">Home</a>
    </div>
</div>

<div class="page-footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
</div>

</body>


</html>