<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Education</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="script.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
</div>

<div class="education">
    <div class="container-fluid">
        <h3 id="education">My Education Timeline</h3>
        <h4>SD Islam Al-Azhar</h4>
        <h4>2003 - 2009</h4>
        <a href="http://imgbox.com/Xg6IftLe" target="_blank"><img src="https://thumbs2.imgbox.com/b7/15/Xg6IftLe_t.png"
                                                                  alt="image host" id="logosd"></a>
        <hr/>
        <h4>SMP Negeri 1 Kota Bekasi</h4>
        <h4>2009 - 2012</h4>
        <a href="http://imgbox.com/wMsZ4Ljd" target="_blank"><img src="https://thumbs2.imgbox.com/3e/cd/wMsZ4Ljd_t.jpeg"
                                                                  alt="image host" id="logosmp"></a>
        <hr/>
        <h4>SMA Negeri 5 Kota Bekasi</h4>
        <h4>2012 - 2015</h4>
        <a href="http://imgbox.com/cfGLUSAX" target="_blank"><img src="https://thumbs2.imgbox.com/0d/ed/cfGLUSAX_t.png"
                                                                  alt="image host" id="logosma"></a>
        <hr/>
        <h4>Institut Teknologi Bandung</h4>
        <h4>Fakultas Teknik Pertambangan dan Perminyakan</h4>
        <h4>2015 - 2016</h4>
        <a href="http://imgbox.com/mnftfnYt" target="_blank"><img src="https://thumbs2.imgbox.com/8c/32/mnftfnYt_t.png"
                                                                  alt="image host" id="logoitb2"></a>
        <p id="deskripsiitb">Tidak menyelesaikan studi.</p>
        <hr/>
        <h4>Universitas Indonesia</h4>
        <h4>Fakultas Ilmu Komputer</h4>
        <h4>2017 - </h4>
        <a href="http://imgbox.com/T8c9WiSt" target="_blank"><img src="https://thumbs2.imgbox.com/ce/ce/T8c9WiSt_t.jpg"
                                                                  alt="image host" id="logoui"></a>
    </div>
</div>
<div class="page-footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
</div>

</body>
</html>