<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<footer class="page-footer font-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4"></div>
            <div class="mb-4 flex-center">
                <a href="https://www.intagram.com/fadhlanhp">
                    <img src="{% static 'images/instagram.png' %}" id="logoinstagram">
                </a>
                <a href="https://www.twitter.com/fadhlanhp">
                    <img src="{% static 'images/twitter.png' %}" id="logotwitter">
                </a>
                <a href="mailto:fadhlan.permana@gmail.com">
                    <img src="{% static 'images/envelope.png' %}" id="logoemail">
                </a>
                <a href="https://www.linkedin.com/in/fadhlanhp">
                    <img src="{% static 'images/linkedin.png' %}" id="logolinkedin"/>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© Fadhlan Hafizh Permana</div>
</footer>

</body>
</html>