<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
</div>
<div class="diatas">
    <div class="container-fluid">
        <h2>Hi, Welcome to my personal Website! </h2>
        <h2>My name is Fadhlan, and currently I'm taking degree in Computer Science at University of Indonesia</h2>
        <a href="https://drive.google.com/open?id=1iP44bz8N7mLp8co85spYbcmfIMI85_z4" class="cv">Curiculum Vitae</a>
    </div>
</div>

<div class="pengalaman-organisasi" id="experiences">
    <div class="container-fluid">
        <h3 id="organisasi">Organization Experiences</h3>
        <h4>BEM Fasilkom UI 2018</h4>
        <h4>Staff of Human Resource Development Bureau</h4>
        <a href="http://imgbox.com/MEqwpDrO" target="_blank"><img src="https://thumbs2.imgbox.com/45/85/MEqwpDrO_t.png"
                                                                  alt="image host" id="logobem"></a>
        <p id="deskripsibem">Saat ini Saya menjadi staff dari PSDM BEM Fasilkom UI. Saya saat ini sedang memegang
            program kerja Sekolah BEM Fasilkom UI 2018, yang dimana program kerja ini merupakan tempat dimana Mahasiswa
            Baru bisa menjadi staff magang di BEM Fasilkom UI</p>
        <hr/>
        <h4>COMPFEST X</h4>
        <h4>Staff of Event</h4>
        <a href="http://imgbox.com/GSf4Qrcb" target="_blank"><img src="https://thumbs2.imgbox.com/a2/89/GSf4Qrcb_t.jpg"
                                                                  alt="image host" id="logocompfest"></a>
        <p id="deskripsicompfest">Saat ini Saya menjadi staff dari Event COMPFEST X di divisi Stage. Saya saat ini
            sedang memegang program kerja Main Event, yang dimana program kerja ini mengerjakan hal-hal yang berhubangan
            dengan penampil dan guest star yang akan tampil pada Main Event.</p>
        <hr/>
        <h4>Wisuda Genap Fasilkom UI 2018</h4>
        <h4>Person in Charge of Liaison Officer</h4>
        <a href="http://imgbox.com/P21rovVZ" target="_blank"><img src="https://thumbs2.imgbox.com/a8/04/P21rovVZ_t.png"
                                                                  alt="image host" id="logowisuda"></a>
        <p id="deskripsiwisuda">Divisi LO merupakan divisi yang menjaga alur dari acara Wisuda Genap. LO memastikan
            rundown acara tidak terlambat. LO merupakan jembatan komunikasi antara Wisudawan, Tamu Undangan dengan
            Panitia.</p>
    </div>
</div>

<div class="pengalaman-kerja">
    <div class="container-fluid">
        <h3 id="kerja">Work Experience</h3>
        <h4>Training "Strategi Menjadi Pribadi Efektif"</h4>
        <h4>Trainer</h4>
        <a href="http://imgbox.com/mnftfnYt" target="_blank"><img src="https://thumbs2.imgbox.com/8c/32/mnftfnYt_t.png"
                                                                  alt="image host" id="logoitb"></a>
        <p id="deskripsiitb">Acara "Strategi Menjadi Pribadi Efektif" ditunjukan kepada mahasiswa baru Institut
            Teknologi Bandung. Saya mendapat kesempatan menjadi Trainer bagi adik-adik Mahasiswa Baru 2016. Di Acara ini
            diberikan bagaimana cara untuk "survive" di kehidupan kampus dan memberikan penjelasan bagaimana seorang
            mahasiswa begitu berbeda dengan menjadi siswa</p>
    </div>
</div>

<div class="skill" id="tabskill">
    <div class="container-fluid">
        <h3 id="skill">Skill</h3>
        <div class="row">
            <div class="col-sm-4">
                <h4>Python (Programming)</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"><h4>Leadership</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h4>Java (Programming)</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"><h4>Public Speaking</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4"><h4>HTML (Programming)</h4></div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:30%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"><h4>C++ (Programming)</h4></div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:30%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="deskripsi-diri" id="aboutme">
    <div class="container-fluid">
        <div class="media">
            <div class="media-left">
                <a href="http://imgbox.com/ztcWb4rF" target="_blank"><img
                        src="https://thumbs2.imgbox.com/98/36/ztcWb4rF_t.png" alt="image host" class="media-object"></a>
            </div>
            <div class="media-body">
                <h3 id="deskripsidiri">My name is Fadhlan Hafizh Permana, I was born in Jakarta in 1997. </h3>
                <h3 id="deskripsidiri2">My hobby is travelling and culinary, i love to discover local cuisine when i
                    visit a town </h3>
            </div>
        </div>
    </div>
</div>

<div class="page-footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
</div>
</body>
</html>