<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Registration </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="script.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
</div>

<div class="container" id="registerform">
    <h2>Registration Form</h2>
    <form action="/action_page.php">

        <div class="form-group">
            <label for="namaregis">Name:</label>
            <input type="text" class="form-control" id="namaregis" placeholder="Enter your name" name="namaregis">
        </div>

        <div class="form-group">
            <label for="tanggallahir">Birth Date:</label>
            <input type="date" class="form-control" id="tanggallahir" placeholder="Format: dd/mm/yyyy"
                   name="tanggallahir">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
        </div>

        <div class="form-group">
            <label for="confpassword">Confirmation Password:</label>
            <input type="password" class="form-control" id="confpassword" placeholder="Enter your password"
                   name="confpassword">
        </div>

        <a href="{% url 'confirmation' %}" type="submit" class="btn btn-default">Submit</a>
    </form>
</div>


<div class="page-footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
</div>
</body>
</html>
