<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
</div>

<div class="container" id="allschedule">
        <a href="{% url 'scheduletambah' %}" class="btn btn-primary navbar-btn pull-right">Add Schedule</a>
        <a href="{% url 'deleteschedule' %}" class="btn btn-primary navbar-btn pull-right">Delete Schedule</a>
        <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Kategori</th>
                    <th>Tempat</th>
                    <th>Waktu</th>
                </thead>
                <tbody>
                    {% for i in schedule %}
                    <tr>
                        <td> {{ i.name }} </td>
                        <td> {{ i.date }} </td>
                        <td> {{ i.tempat }} </td>
                        <td> {{ i.kategori }} </td> </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
</div>


<div class="page-footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
</div>
</body>
</html>
