body {
    font-family: "Lato";  
    color:#373f49;  
}

.dropdown-backdrop {
    position: static;
}

.navbar {
    background-color: #89E6DD;
    border-color: transparent;
    text-align: center;
}

.navbar > .nav > li > a:hover, .navbar .nav > li > a:focus {
    background-color: #E5E9F2;
    color: #373f49;
}

.btn {
    background-color: #47525E;
    color: white;
    border-color: transparent;
    margin-right: 10px;
}

.diatas {
    text-align: center;
    text-align: center;
    margin-top: 19vw;
}

.pengalaman-organisasi{
    text-align: center;
    margin-top: 300px;
}

.pengalaman-kerja {
    text-align: center;
    margin-top: 100px;
}

.education {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;  
}

#organisasi, #kerja, #education {
    text-align: left;
    font-weight: bold;
    padding-left: 5vw;
}

#skill {
    font-weight: bold;
}

.skill{
    padding-left:5vw;
}


#logobem, #logocompfest, #logoitb {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

#logosd, #logosmp, #logosma, #logoitb2 {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

#logoui {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    background-color: white;
}

#logowisuda {
    width: 150px;
    height: 200px;
    margin-top: 10px;
}
 

.deskripsi-diri{
    height: 15vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    margin-bottom: 250px;
    background-color: #c0f2ed;
}

@media screen and (min-width: 601px) {
    .deskripsi-diri {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .deskripsi-diri {
      font-size: 30px;
    }
  }


.media-object{
    margin-top:2vw;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
}

.media-body {
    padding-top: 40px;
}

#deskripsidiri, #deskripsidiri2{
    font-size: 10pw;
    color: #373f49;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    margin-left: 10vw;
    margin-right: 300px;
}

#deskripsibem, #deskripsicompfest, #deskripsiwisuda, #deskripsiitb {
    color: #8190A5;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;
}

.col-sm-4{
    color: black;
}

.progress-bar{
    background-color: #8190A5;
}

.cv, .backhome {
    background-color: #89E6DD;
    border: none;
    color: #47525E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#logoinstagram, #logolinkedin, #logoemail, #logotwitter{
    margin-top: 10px;
    height: 3%;
    width: 3%;
}

.page-footer {
    position: relative;
    left: 0;
    bottom:0;
    width: 100%;
    height: 10%;
    background-color: #89E6DD;
    color: white;
    text-align: center;
}

.footer-copyright{
    margin-top: 3px;
}

#registerform {
    margin-top: 2.2vw;
    margin-bottom:60px;
}

#konfirmasi {
    margin-bottom: 225px;
}

#allschedule {
    margin-top: 2.2vw;
    margin-bottom:492px;
}

#btnactivity {
    margin-top: 2.2vw;
    margin-bottom:158px;
}